name: pub-dry-run

on:
  pull_request:
  push:
    branches: [main, dev]

permissions:
  contents: read

jobs:
  pub-dry-run:
    name: pub-dry-run
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Pub get
        run: flutter pub get
      - name: Pub publish dry run
        run: flutter pub publish --dry-run
